@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
}

h2 {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

h3 {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

p {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}

.svg-fill-white svg {
  fill: white;
}

.svg-fill-white circle,
.svg-fill-white line,
.svg-fill-white path {
  fill: white;
}

.svg-fill-purple svg {
  fill: #633cff;
}

.svg-fill-purple circle,
.svg-fill-purple line,
.svg-fill-purple path {
  fill: #633cff;
}
